<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <% user = User.find_by(session_token: session[:session_token]) %>
        <h1><%= "Welcome #{user.user_name}" %></h1>
        <form action = <%= session_url %> method =  "POST" >
          <input type = "hidden" name = "_method" value = 'DELETE'>
          <button>Logout</button>
        </form>
      <% else %>
        <form action= <%= new_session_url %> method = "GET"  >
          <button>Login</button>
        </form> 

        <form action= "<%= new_user_url %>" method = "GET"  >
          <button>Sign Up</button>
        </form>          
      <%end %>

    </header>
  
    <%= yield %>
  </body>
</html>
